.form-section {
  background-image:
    linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
    url("images/télécharger (30).png");
  background-size: cover;

  padding: 30px;
  max-width: 400px;
  margin: 50px auto;

  color: white;
  border-radius: 12px;
}

.form-section h1 {
  text-align: center;
}

.input-box {
  margin-bottom: 15px;
}

.input-box label {
  display: block;
  margin-bottom: 5px;
}

.input-box input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 8px;
}

#button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 10px;
  background: #f5c400;
  font-weight: bold;
}

